@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f5fa;
}

.application-header {
  background-color: #f7f5fa;
}

.slick-arrow {
  filter: invert(50%) !important;
  transform: scale(1.5) !important;
}
